<h1> Welcome to Adoe!</h1>

<h3> Foundations</h3>
<form method="GET" action="/login">
  <input type=submit value="Login"></input>


</form>
<form method="GET" action="/register">
<input type=submit value="Register"></input> dont have an account?
</form>
