<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>stripe</title>
  </head>
  <body>
    <h1>Thanks for signing up with stripe.</h1>
    <p>Go over to stripe to check on your donations</p>
  </body>
</html>
