<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
  </head>
  <body>
    <h1>Login Page</h1>
     <form type="post" method="/login">
       Name
       <input type='text'> Password</input>
       <input type='password'></input>
       <input type='submit'></input>
     </form>


  </body>
</html>
