<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
  </head>
  <body>
    <h1>Login Page</h1>
    <form method="post" action="/api/foundations/login">
       <input type="email" name="email"></input>email
       <input type="password" name="password"></input>password
       <input type='submit'></input>
     </form>


  </body>
</html> -->

<!-- <h1> Welcome to Adoe!</h1>

<h3> Foundations</h3>
<form method="GET" action="/login">
  <input type=submit value="Login"></input>


</form>
<form method="GET" action="/register">
<input type=submit value="Register"></input> dont have an account?
</form> -->

<!DOCTYPE html>
<html >

<head>
  <title>Foundation Login Form</title>
  <link rel='stylesheet prefetch' href='/public/css/font-awesome.min.css'>
  <link rel='stylesheet' href='/public/css/style.css' />

</head>

<body>

<div class="pen-title">
  <h1>Adoe</h1><span><a>CHARITABLE GIVING MADE EASY</a></span>
</div>
<!-- Form Module-->
<div class="module form-module">
  <div class="toggle"><i class="fa fa-times fa-pencil"></i>
    <div class="tooltip">Register</div>
  </div>
  <div class="form">
    <h2>Login to your account</h2>
    <form method="post" action="/api/foundations/login">
      <input type="text" placeholder="Email Address" name="email"/>
      <input type="password" placeholder="Password"  name="password"/>
      <button>Login</button>
    </form>
  </div>
  <div class="form">
    <h2>Create an account</h2>
    <form method="post" action="/api/foundations/register">
      <input type="text" placeholder="Foundation Name" name="name"/>
      <input type="email" placeholder="Email Address" name="email"/>
      <input type="password" placeholder="Password" name="password"/>
      <input type="password" placeholder="Repeat Password" name="repeatPassword"/>
      <input type="address" placeholder="Address" name="address"/>
      <input type="text" placeholder="Description" name="description"/>
      <button>Register</button>
    </form>
  </div>
  <!-- <div class="cta"><a href="https://media.giphy.com/media/Vq5djeWOqbmSc/giphy.gif">Forgot your password?</a></div> -->
  <div class="cta" id="myBtn"><a>Forgot your password?</a></div>

</div>
  <script src='/public/js/jquery.min.js'></script>



    <script type="text/javascript">
    $('.toggle').click(function(){
      // Switches the Icon
      $(this).children('i').toggleClass('fa-pencil');
      // Switches the forms
      $('.form').animate({
        height: "toggle",
        'padding-top': 'toggle',
        'padding-bottom': 'toggle',
        opacity: "toggle"
      }, "slow");
    });
    </script>


    <!-- modal  -->
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Sorry, but we can't handle your password problems in this sprint.</p>
    <img src="/img/cry.jpeg" alt="ugly crying kim kardashian" style="width:304px;height:228px;">

<!-- <iframe src="//giphy.com/embed/Vq5djeWOqbmSc" width="480" height="249.6" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/Vq5djeWOqbmSc">via GIPHY</a></p> -->
</div>

</div>
<!-- end modal -->

<!-- modal scripts -->
<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<!-- end modal scripts -->

</body>
</html>
