<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
  </head>
  <body>
    <h1>Login Page</h1>
    <form method="post" action="/api/foundations/login">
       <input type="email" name="email"></input>email
       <input type="password" name="password"></input>password
       <input type='submit'></input>
     </form>


  </body>
</html>
