<!DOCTYPE html>
<html >

<head>
  <title>Foundation Login Form</title>
  <link rel='stylesheet prefetch' href='/public/css/font-awesome.min.css'>
  <link rel='stylesheet' href='/public/css/style.css' />

</head>

<body>

<div class="pen-title">
  <h1>Adoe</h1><span><a>CHARITABLE GIVING MADE EASY</a></span>
</div>
<!-- Form Module-->
<div class="module form-module">
  <div class="toggle"><i class="fa fa-times fa-pencil"></i>
    <div class="tooltip">Register</div>
  </div>
  <div class="form">
    <h2>Login to your account</h2>
    <form method="post" action="/api/foundations/login">
      <input type="text" placeholder="Email Address" name="email"/>
      <input type="password" placeholder="Password"  name="password"/>
      <button>Login</button>
      <h1>{{error}}</h1>
    </form>
  </div>
  <div class="form">
    <h2>Create an account</h2>
    <form method="post" action="/api/foundations/register" enctype="multipart/form-data">
      <input type="text" placeholder="Foundation Name" name="name"/>
      <input type="email" placeholder="Email Address" name="email"/>
      <input type="password" placeholder="Password" name="password"/>
      <input type="phone" placeholder="Phone Number" name="phoneNumber"/>
      <input type="address" placeholder="Street Address" name="streetAddress"/>
      <input type="address" placeholder="City" name="city"/>
      <input type="address" placeholder="State" name="ustate"/>
      <input type="address" placeholder="Zip Code" name="zipCode"/>
      <input type="address" placeholder="Country" name="country"/>
      <!-- s3 image upload -->
      <input type="text" placeholder="Description" name="description"/>
        <div class="form-group">
          <label>Images For Events</label>
          <input type="file" name="derek" class="form-control">
        </div>

        <!-- <div id="dropzone">
          <div class="dropzone needsclick" id="demo-upload">
            <div class="dz-message needsclick">
              Drop files here or click to upload.<br />
              <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
            </div>
          </div>
        </div> -->

        <!-- <div id="dZUpload" class="dropzone">
              <div class="dz-default dz-message"></div>
        </div> -->


        <select id="country" name="country"></select>

        <select name="state" id="state"></select>


      <!-- end s3 image upload -->
      <button type="submit">Register</button>
    </form>
  </div>
  <!-- <div class="cta"><a href="https://media.giphy.com/media/Vq5djeWOqbmSc/giphy.gif">Forgot your password?</a></div> -->
  <div class="cta" id="myBtn"><a>Forgot your password?</a></div>

</div>
  <script src='/public/js/jquery.min.js'></script>
  <!-- pretty s3 image upload -->
  <!-- <script src="/public/js/dropzone.js">
      $(document).ready(function () {
        Dropzone.autoDiscover = false;
        $("#dZUpload").dropzone({
            url: "hn_SimpeFileUploader.ashx",
            addRemoveLinks: true,
            success: function (file, response) {
                var imgName = response;
                file.previewElement.classList.add("dz-success");
                console.log("Successfully uploaded :" + imgName);
            },
            error: function (file, response) {
                file.previewElement.classList.add("dz-error");
            }
        });
    });
  </script> -->
  <!-- country and state script -->
  <script src="/public/js/countries.js"></script>
  <script language="javascript">
    populateCountries("country", "state"); // first parameter is id of country drop-down and second parameter is id of state drop-down
    populateCountries("country2");
    populateCountries("country2");
  </script>
  <script type="text/javascript">

    // toggles open the registration form on login page
    $('.toggle').click(function(){
      // Switches the Icon
      $(this).children('i').toggleClass('fa-pencil');
      // Switches the forms
      $('.form').animate({
        height: "toggle",
        'padding-top': 'toggle',
        'padding-bottom': 'toggle',
        opacity: "toggle"
      }, "slow");
      // changes register to login and vice versa
      $('.tooltip').text(function(i, text){
          return text === "Login" ? "Register" : "Login";
      })
    });
    </script>

    <!-- modal  -->
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Sorry, but we can't handle your password problems in this sprint.</p>
    <img src="/img/cry.jpeg" alt="ugly crying kim kardashian" style="width:304px;height:228px;">

<!-- <iframe src="//giphy.com/embed/Vq5djeWOqbmSc" width="480" height="249.6" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/Vq5djeWOqbmSc">via GIPHY</a></p> -->
</div>

</div>
<!-- end modal -->

<!-- modal scripts -->
<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<!-- end modal scripts -->

</body>
</html>
