
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>register</title>
  </head>
  <body>
    <h1>Register Page</h1>
     <form type="post" method="/register">

       <input type='text'></input>FoundationName
       <input type='password'></input>Password
       <input type='text'></input>Password
       <input type='email'></input>email
       <input type='text'></input>description
       <input type='submit'></input>
     </form>


  </body>
</html>
