<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>stripe</title>
  </head>
  <body>
    <h1>Login or Register with stripe</h1>
     <form method="GET" action="/api/foundations/api/oauth">

       <input type='submit'>STRIPE</input>
     </form>


  </body>
</html>
